<!DOCTYPE html>
<html>
  <head>
    <title>Chatbot Example</title>
    <link rel='stylesheet' href='/style.css' type="text/css" />  </head>
  <body>
    <div id="chat-container">
      <div>Welcome to the chatbot!</div>
      <div id="messages-container">
        <li> Select 1 to Place an order </li>
        <li> Select 99 to checkout order </li>
        <li> Select 98 to see order history </li>
        <li> Select 97 to see current order </li>
        <li> Select 0 to cancel order </li>
      </div>
      <form method="POST" id="chat-form">
        <input type="text" id="chat-input" placeholder="Type a message..." />
        <button type="submit">Send</button>
      </form>
    </div>

    <script src="/chat.js"></script>
  </body>
</html>
